@page "/apps"
@attribute [StreamRendering]

<figure class="figure" alt="https://shichen.azurewebsites.net/">
    <img src="/Home/shicheng.png" class="figure-img img-fluid rounded img-thumbnail" alt="https://shichen.azurewebsites.net/">
    <figcaption class="figure-caption">看不懂时辰？用时辰转换器! 做这个的动机是，有一天看书的时候看到崇祯于甲申三月十九日丑时，在北京景山老歪脖子树上自缢。 第一个反应是，所以这他到底啥时候死的？绞尽脑汁发现自己12个时辰只知道子时。于是暴起，怒搜谷歌。 发网上关于时辰的网站，丑炸了。遂怒写网站。 </figcaption>
    <a href="https://shichen.azurewebsites.net/" class="btn btn-light" download>点击访问</a>
</figure>
