<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="lyulyulyu.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1461233971067257"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
          function b(a) {
            c[a] = function () {
              var b = arguments;
              c.queue.push(function () {
                c[a].apply(c, b);
              });
            };
          }
          var c = { config: a }, d = document, e = window;
          setTimeout(function () {
            var b = d.createElement("script");
            b.src = a.url || "https://js.monitor.azure.com/scripts/b/ai.3.gbl.min.js";
            d.getElementsByTagName("head")[0].appendChild(b);
          });
          c.queue = [];
          for (
            var f = [
              "trackEvent",
              "trackException",
              "trackMetric",
              "trackPageView",
              "trackDependencyData",
              "setAuthenticatedUserContext",
              "clearAuthenticatedUserContext",
            ];
            f.length;
          )
            b(f.pop());
          return c;
        }({
          connectionString: "InstrumentationKey=b7e53614-b8ec-4f46-b033-af6c659270eb;IngestionEndpoint=https://eastasia-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastasia.livediagnostics.monitor.azure.com/;ApplicationId=d02e0d32-9542-4dc9-b381-05fd1cc913b3",
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
