@page "/chai"
@rendermode InteractiveServer

@using lyulyulyu.Components.Resources
@inject IChaiManager chaiManager
@inject ViewCounter ViewCounter

<PageTitle>小柴系列</PageTitle>

<div class="chai">
    <!-- Source -->
    <div class="alert alert-success" role="alert">
        <a href="https://www.xiaohongshu.com/user/profile/658b99fa0000000022010708?xsec_token=YBziKcoyXmZmn8pfu5BmGYeMLDm2B38QoIF5BNkx31ivc=&xsec_source=app_share&xhsshare=CopyLink&appuid=658b99fa0000000022010708&apptime=1740956207&share_id=2c6f03792f80478cac4c50cfa31aa065">
            <h4 class="alert-heading">小红书：想活到100岁的小柴</h4>
        </a>
        <p>如果喜欢的话，求关注一下小红书哈，有什么希望的疾病PPT可以大方私信我😁要是喜欢的话求私信夸我！遇到不能下载的问题也可以私信/邮箱我</p>
        <p>下载量：@ViewCounter.viewCount.ChaiView</p>
    </div>

    <div class="row">
        @foreach (var chai in chaiManager.GetImages())
        {
            <div class="card" style="width: 18rem;">
                <img src="@chai.DisplayPath" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@chai.Name</p>
                    <a href="@chai.DownloadPath" class="btn btn-light" download @onclick="OnDownload">点击下载PPT</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private void OnDownload() // = On Page Load
    {
        ViewCounter.viewCount.ChaiView++;
    }
}
