@page "/citydoodle"
@rendermode InteractiveServer

@using lyulyulyu.Components.Resources
@inject ICityDoodleManager cityDoodleManager
@inject ViewCounter ViewCounter

<PageTitle>城市涂鸦系列</PageTitle>
<div class="alert alert-success" role="alert">
    <a href="https://www.xiaohongshu.com/user/profile/5b3c3b5711be102db1eda29f?xsec_token=YBEnKv5TX3ilJjLenrilvfyH8Pc98IKAYu-EvxpyIrc6M=&xsec_source=app_share&xhsshare=CopyLink&appuid=5b3c3b5711be102db1eda29f&apptime=1740956064&share_id=b6a764d3055e46bf81aa7a1c999d1a3b">
        <h4 class="alert-heading">小红书ID：LNC大波美人鱼人美波大</h4>
    </a>
    <p>如果喜欢的话，求关注一下小红书哈，有什么希望话的城市/你的家乡可以大方私信我😁要是喜欢的话求私信夸我！使劲来！遇到不能下载的问题也可以私信/邮箱我</p>
    <p>下载量：@ViewCounter.viewCount.CityDoodleView</p>
</div>

<div class="citydoodle">
    <div class="row">
        @foreach (var cityDoodle in cityDoodleManager.GetImages())
        {
            <div class="card" style="width: 18rem;">
                <img src="@cityDoodle.DisplayPath" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@cityDoodle.Name</p>
                    <a href="@cityDoodle.DownloadPath" class="btn btn-light" download @onclick="OnDownload">点击下载原图</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private void OnDownload() // = On Page Load
    {
        ViewCounter.viewCount.CityDoodleView++;
    }
}