@page "/me"

<PageTitle>Home</PageTitle>

<h1>欢迎来到Lyu的小站</h1>

<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title">关于我</h1>
            <h6 class="card-subtitle mb-2 text-body-secondary">About Me</h6>
            <p>邮箱 Email: lnc0519@gmail.com</p>
            <p>Location: Krikland  - Shanghai</p>
            <a href="https://www.linkedin.com/in/lyulyulyu/" class="card-link">我的领英 Linkedin</a>
            <a href="https://github.com/nlyu" class="card-link">Gibhub</a>
            <a href="https://www.zhihu.com/people/lu-nuo-cheng" class="card-link">知乎</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title">此网站</h1>
            <h6 class="card-subtitle mb-2 text-body-secondary">This Website</h6>
            <p>This is a website build by Blazer under ASP.NET Core App</p>
            <a href="https://github.com/nlyu/lyulyulyu.com" class="card-link">Website Source Code</a>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="Home/wechatpay.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">打赏</h3>
            <h6 class="card-subtitle mb-2 text-body-secondary">要是觉得好，就用钱砸死我吧！</h6>
        </div>
    </div>
</div>